<mat-toolbar color="accent">
    <span><a routerLink="/"> Covid 19-20 </a></span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/india" routerLinkActive="mat-primary"> Track India </a>
        </li>
        <li>
            <a mat-button routerLink="/help" routerLinkActive="mat-primary"> Help </a>
        </li>
    </ul>
</mat-toolbar>





<!-- <mat-toolbar color='accent'>
    <span><a routerLink="/"> Covid 19-20 </a></span>
    <span class="fill-remaining-space"></span>
    <span><a routerLink="/help"> Help </a></span>
</mat-toolbar> -->
