.flex-cont {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-image {
    width: 85%;
    height: auto;
  }
  
  .post-image img {
    width: 100%;
    box-shadow: 2px 2px 5px;
  }

  mat-card, mat-chip-list {
    display: flex;
    align-content: center;
    justify-content: center;
  }