<mat-card>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <!-- <h4>Please select the country</h4> -->
    <mat-form-field>
      <mat-label>Choose the Country</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="country">
        <mat-option *ngFor="let country of availableCountries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp; &nbsp;
    <button type="submit" mat-raised-button color="accent">Search</button>
  </form>
</mat-card>
<br>
<div *ngIf="!isLoading">
  <mat-chip-list aria-label="Fish selection" *ngIf="covidArray?.length > 0">
      <mat-chip color="accent" selected> <b>{{ countryName }}</b></mat-chip>
      <mat-chip color="primary" selected>Last Update : &nbsp; <em>{{ lastUpdated | date: "full" }}</em></mat-chip>
  </mat-chip-list>
  <br>
  <mat-accordion multi="true" *ngIf="covidArray?.length > 0">
      <mat-expansion-panel *ngFor="let covid19 of covidArray">
              <mat-expansion-panel-header>
                  {{ covid19.country }} - {{ covid19.province }} {{ covid19.city }}
              </mat-expansion-panel-header>
              <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" selected>Confirmed:&nbsp; <b>{{ covid19.confirmed }}</b> </mat-chip>
                  <mat-chip color="accent" selected>Recovered:&nbsp; <b>{{ covid19.recovered }}</b> </mat-chip>
                  <mat-chip color="warn" selected>Deaths:&nbsp; <b>{{ covid19.deaths }}</b> </mat-chip>
              </mat-chip-list>
              <mat-action-row></mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>

<div class="flex-cont">
    <div class="post-image">
        <img [src]="imageUrl" alt="corona-mask">
    </div>
</div>
